
*.class
build/web/WEB-INF/lib/postgresql-42.3.1.jar
nbproject/ant-deploy.xml
nbproject/build-impl.xml
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/ant-deploy.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/project.properties
/dist/
build/web/WEB-INF/classes/framework/database/annotation/Champs.class
*.class
